/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografía (Tamaño, Fuente, Peso, etc)
    4. Estilos visuales (shadow border, etc.)
    5. Otros --> Reglas adicionales Css
*/

:root {
  /*Colores*/
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black1: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --justwhite: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/*Starts Header's styles*/

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  align-self: center;
  width: 150px;
  height: 24px;
  margin-top: 6rem;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 210px;
  margin-top: 50px;
  align-self: center;
}

.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--justwhite);
}

.header__title-container p {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.8rem;
  color: var(--justwhite);
  margin-top: 2.4rem;
}

.header__title-container .header__button {
  position: absolute;
  left: calc(50% - 115px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*Shadow*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  /*Button shape*/
  border: none;
  border-radius: 4px;
  /*Font*/
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--warm-black);
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/ArrowDown.svg");
}

/**********- Main info starts -**********/

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-container__bitcoinImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;

  background-image: url("./assets/images/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container__text {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 40px;
}

.main-container__text h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
}

.main-container__text p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

/* Table Style starts*/

.main-container__compare-coinVsfee {
  display: flex;
  gap: 10px;
  padding: 0 20px;
  width: 100%;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.main-table {
  scroll-snap-align: center;

  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 280px;

  font-family: "inter", sans-serif;
}

.main-table .main-table__title-coin {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-family: "DM", sans-serif;
  font-weight: bold;
  color: var(--bitcoin-orange);
  text-align: start;
  padding-left: 10%;
}

.main-table__currency {
  width: 70%;
  min-width: 200px;
  max-width: 300px;
  height: 160px;

  margin: 0 auto;
  margin-bottom: 16px;

  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);

  text-align: start;
}

.main-table__currency table {
  width: 100%;
  height: 100%;
}

.main-table__currency td {
  width: 50%;
  background-color: var(--justwhite);
}

.main-table--topRightCorner {
  border-radius: 0 8px 0 0;
}
.main-table--topLeftCorner {
  border-radius: 8px 0 0 0;
}
.main-table--bottomRightCorner {
  border-radius: 0 0 8px 0;
}
.main-table--bottomLeftCorner {
  border-radius: 0 0 0 8px;
}

.main-table__currency .main-table--left {
  padding-left: 12px;
}

.main-table__currency .main-table--rigth {
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: var(--warm-black);
  text-align: center;
}

.main-table--trendUpIcon span {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/icons/trending-up.svg");
}
.main-table--trendDownIcon span {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/icons/trending-down.svg");
}

.main-table__update-tag {
  background-color: var(--soft-orange);

  width: 173px;
  height: 30px;
  border-radius: 8px;
  padding: 8px;

  margin: 0 auto;

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.main-table .main-table__title-fee {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-family: "DM", sans-serif;
  font-weight: bold;
  color: var(--secondary-blue);
  text-align: start;
  padding-left: 10%;
}
.main-table__update-tag-fee {
  background-color: var(--soft-blue);

  width: 173px;
  height: 30px;
  border-radius: 8px;
  padding: 8px;

  margin: 0 auto;

  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

/*Detail Product Starts*/

.product-detail {
  width: 100%;
  min-width: 320px;
  height: auto;
  position: relative;
  padding: 20px 10px;
  padding-bottom: 30px;

  background-color: #201e1c;
}

.product-detail__single-icon {
  position: absolute;
  bottom: calc(100% - 12px);
  left: calc(50% - 20.5px);

  width: 41px;
  height: 24px;
  background-image: url("./assets/images/Logo-simple.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail__text{
  margin-top: 44px;
  text-align: center;
}

.product-detail__text h2{
  margin-bottom: 24px;
  
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--justwhite);
}

.product-detail__text p{
  padding-bottom: 16px;
  
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #808080;
}

.product-detail__card article {
  width: 100%;
  max-width: 400px;
  height: auto;
  min-height: 152px;
  margin: 16px auto;

  padding: 14px 16px;
  padding-bottom: 22px;

  border-radius: 4px;
  background-color: var(--warm-black1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);

  font-family: "DM Sans", sans-serif;
}

.product-detail__card article span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  /* background-color: royalblue; */

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-detail__card article h3 {
  margin-bottom: 10px;

  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--justwhite);
}

.product-detail__card article p {
  /* margin-bottom: 10px; */

  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-detail__card .product-detail--clock {
  background-image: url("./assets/icons/clock.svg");
}

.product-detail__card .product-detail--eye {
  background-image: url("./assets/icons/eye.svg");
}

.product-detail__card .product-detail--money {
  background-image: url("./assets/icons/dollar.svg");
}

.product-detail__card .product-detail--check {
  background-image: url("./assets/icons/check-circle.svg");
}

/*Image of bitcoin*/

.bitcoin-img-container {
  width: 100%;
  min-width: 315px;
  height: 70hw;
  min-height: 387px;

  background-image: url('./assets/images/bitcoinbaby2x.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
  padding-top: 64px;
  text-align: center;
  
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--justwhite);
}

/*Pln Styles*/

.main-plan-container {
  width: 100%;
  min-width: 320px;
  height: auto;

  

  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
  background-color: var(--off-white);
}

.main-plan-container h2 {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: black;
}

.main-plan-container p {
  width: 90%;
  height: auto;
  
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 15px;

  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color:#757575;
}

.main-plan-container__reel{
  height: 316px;
  padding: 0 60px;

  display: flex;
  gap: 20px;

  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  align-items: center;  
}

.main-plan-container__reel article {
  position: relative;
  scroll-snap-align: center;
  
  width: 60%;
  min-width: 190px;
  max-width: 400px;
  height: auto;
  min-height: 247px;
  max-height: 250px;
  /* margin: 0 20px; */ /*Add space between cards*/

  padding: 30px 16px 25px 16px;
 
  text-align: center;

  background-color: var(--justwhite);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.main-plan-container__reel .plan-container--recomendado {
  width: 100px;
  height: 31px;
  
  position: absolute;
  bottom: calc(100% - 15px);
  left: calc(50% - 50px);

  padding: 8px;

  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--justwhite);

  border-radius: 8px;
  background-color: var(--bitcoin-orange); 
}

.main-plan-container__reel article h3 {
  margin-bottom: 8px;
  
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: black;
}

.main-plan-container__reel article .plan-container--cost {
  position: relative;
  
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 5.2rem;
  line-height: 6.3rem;
  font-weight: bold;
  letter-spacing: -0.08em;
  color: black;
}
.main-plan-container__reel article .plan-container--cost span {
  position: absolute;
  right: 75%;
  top: 15%;
  
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  letter-spacing: -0.08em;
  color: black;
}

.main-plan-container__reel article .plan-container--offer {
  min-width: 160px;
  margin: 16px auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #757575;
}

.main-plan-container__reel article .plan-container--button {
  width: 150px;
  height: 50px;

  background-color: #FAF8F7;
  border-radius: 4px;
  border: 2px solid var(--bitcoin-orange);

  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: 'DM Sans';
  font-weight: 700;
  color: black;
}

.plan-container--button span{
  display: inline-block;
  width: 24px;
  height: 18px;

  background-image: url('./assets/icons/arrow-right.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  vertical-align: text-bottom;
}

/*Footer Styles*/

footer{
  display: flex;
  align-items: center;

  width: 100%;
  min-width: 320px;
  height: 150px;

  background-color: var(--bitcoin-orange);
}

footer section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.footer-left li {
  margin: 10px 0;
}

.footer-left ul a{
  text-decoration: none;
  color: var(--justwhite);
}
